{% extends "website/base.html" %}
{% block title %}Início{% endblock %}
{% load static %}
{% block content %}
    <section class="container py-5">
        <div style="margin: 0;">
            {% for noticia in noticias_vasco %}
            <a href="{% url 'noticia' noticia.id %}" style="text-decoration: none; display: block; height: 500px; width: 100%;">
                <div style="background-color: black; height: 100%; width: 100%; border-top-left-radius: 15px; border-top-right-radius: 15px;">
                    <img src="{% static noticia.imagem %}" alt="{{ noticia.subtitulo }}" style="width: 100%; height: 100%; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;">
                </div>
            </a>
            <div style="height: 100px; width: 100%; background-color: gray; border-bottom-right-radius: 15px; border-bottom-left-radius: 15px; margin-top: 10px; padding: 15px; color: black;">
                <a href="{% url 'noticia' noticia.id %}" style="text-decoration: none; display: block; height: 100%; width: 100%; color: black;">
                    <h1 style="font-size: 35px; margin: 0; font-family: Inter; font-weight: 700; text-align: left; bottom: 20px; margin-left: 0;">{{ noticia.titulo }}</h1>
                    <p style="font-size: 20px; margin: 0; font-family: Inter; font-weight: 700; text-align: left;">{{ noticia.subtitulo }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
        <h1 style="font-size: 45px; font-family: Inter; color: black; font-weight: 700; margin-top: 30px;">PRÓXIMOS JOGOS</h1>
        <div style="display: flex; width: 100%; height: 200px; align-items: center; text-align: center; gap: 33px; justify-content: center;">
            <div style="display: inline-block; height: 100%; width: 350px; background-color: white; border-radius: 15px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); padding: 15px;">
                <div>
                    <div>
                        <h1 style="font-size: 16px; font-family: Inter; color: black; font-weight: 700; margin: 0;">Campeonato Brasileiro</h1>
                        <h1 style="font-size: 12px; font-family: Inter; color: black; font-weight: 500; margin-top: 5px;">Rodada 15</h1>
                    </div>
                    <div style="align-items: center; justify-content: between; height: 70px; width: 100%; margin-top: 10px;">
                        <div style="height: 70px; width: 70px; display: inline-block;"><img src="{% static 'website/img/CRVascodaGama.png' %}" alt="Logo Vasco" style="width: 100%; height: 100%; object-fit: contain"></div>
                        <div class="px-5" style="display: inline-block;"><p style="font-family: Inter; font-weight: 700;">X</p></div>
                        <div style="height: 60px; width: 60px; display: inline-block;"><img src="{% static 'website/img/gremio-logo-escudo-2.png' %}" alt="Logo Grêmio" style="width: 100%; height: 100%; object-fit: contain"></div>
                    </div>
                     <div style="margin-top: 10px;">
                        <h1 style="font-size: 16px; font-family: Inter; color: black; font-weight: 700; margin: 0;">São Januário</h1>
                        <h1 style="font-size: 12px; font-family: Inter; color: black; font-weight: 500; margin-top: 5px;">19 de jul - 17:30</h1>
                    </div>
                </div>
            </div>
            <div style="display: inline-block; height: 100%; width: 350px; background-color: white; border-radius: 15px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); padding: 15px;">
                <div>
                    <div>
                        <h1 style="font-size: 16px; font-family: Inter; color: black; font-weight: 700; margin: 0;">Campeonato Brasileiro</h1>
                        <h1 style="font-size: 12px; font-family: Inter; color: black; font-weight: 500; margin-top: 5px;">Rodada 15</h1>
                    </div>
                    <div style="align-items: center; justify-content: between; height: 70px; width: 100%; margin-top: 10px;">
                        <div style="height: 70px; width: 70px; display: inline-block;"><img src="{% static 'website/img/CRVascodaGama.png' %}" alt="Logo Vasco" style="width: 100%; height: 100%; object-fit: contain"></div>
                        <div class="px-5" style="display: inline-block;"><p style="font-family: Inter; font-weight: 700;">X</p></div>
                        <div style="height: 60px; width: 60px; display: inline-block;"><img src="{% static 'website/img/gremio-logo-escudo-2.png' %}" alt="Logo Grêmio" style="width: 100%; height: 100%; object-fit: contain"></div>
                    </div>
                     <div style="margin-top: 10px;">
                        <h1 style="font-size: 16px; font-family: Inter; color: black; font-weight: 700; margin: 0;">São Januário</h1>
                        <h1 style="font-size: 12px; font-family: Inter; color: black; font-weight: 500; margin-top: 5px;">19 de jul - 17:30</h1>
                    </div>
                </div>
            </div>
            <div style="display: inline-block; height: 100%; width: 350px; background-color: white; border-radius: 15px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); padding: 15px;">
                <div>
                    <div>
                        <h1 style="font-size: 16px; font-family: Inter; color: black; font-weight: 700; margin: 0;">Campeonato Brasileiro</h1>
                        <h1 style="font-size: 12px; font-family: Inter; color: black; font-weight: 500; margin-top: 5px;">Rodada 15</h1>
                    </div>
                    <div style="align-items: center; justify-content: between; height: 70px; width: 100%; margin-top: 10px;">
                        <div style="height: 70px; width: 70px; display: inline-block;"><img src="{% static 'website/img/CRVascodaGama.png' %}" alt="Logo Vasco" style="width: 100%; height: 100%; object-fit: contain"></div>
                        <div class="px-5" style="display: inline-block;"><p style="font-family: Inter; font-weight: 700;">X</p></div>
                        <div style="height: 60px; width: 60px; display: inline-block;"><img src="{% static 'website/img/gremio-logo-escudo-2.png' %}" alt="Logo Grêmio" style="width: 100%; height: 100%; object-fit: contain"></div>
                    </div>
                     <div style="margin-top: 10px;">
                        <h1 style="font-size: 16px; font-family: Inter; color: black; font-weight: 700; margin: 0;">São Januário</h1>
                        <h1 style="font-size: 12px; font-family: Inter; color: black; font-weight: 500; margin-top: 5px;">19 de jul - 17:30</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

         

